<meta charset="utf-8">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | escape_once }}">

{% include seo.html %}

{% assign social_image = page.header.og_image | default: site.author.og_image | default: site.author.avatar %}
{% if social_image %}
<meta property="og:image" content="{{ social_image | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ social_image | absolute_url }}">
{% endif %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<base target="_blank">
